node_modules
.next
.git
.env
.env.local
.env.*.local
README.md
Dockerfile
docker-compose.yml
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
.gitignore
.prettierignore
.editorconfig
public/
types/
